/*www.colorcombos.com*/
@blue: #000066;
@yellow: #FFCC00;

header#title
{
	width: 300px;

	a { color: @yellow; }
}

#cypher_menu
{
	display: inline-block;
	height: 400px;
	margin-left: 50px;
	text-align: center;
	vertical-align: top;
	width: 200px;

	header
	{
		color: @yellow;
		text-shadow: 2px 2px silver, 2px 2px 5px @blue;
	}

	button, a button
	{
		background-color: @yellow;
		color: black;
		display: block;
		margin: 5px auto;
		padding: 0px 10px;
		width: 180px;
	}
}

#cypher_container
{
	display: inline-block;
	margin: 20px 0px;
	width: 700px;

	#character_container
	{
		background-color: @yellow;
		margin: 20px auto;
		width: 530px;

		.chars
		{
			display: inline-block;
			text-align: center;
			width: 20px;
		}
	}

	#show_cypher_container
	{
		background-color: @yellow;
		font-weight: bold;
		margin: 10px auto;
		padding: 10px;
		width: 660px;
		
		form
		{
			label { font-size: 12px; }

			.letter, .space
			{
				display: inline-block;
				margin-right: 5px;
				text-align: center;
				vertical-align: top;
				width: 20px;

				input { width: 15px; }
			}

			#options
			{
				margin-top: 10px;

				#auto_move_label { width: 160px; }
			}
		}
	}
}
