/*www.colorcombos.com*/
@blue: #000066;
@yellow: #FFCC00;

header#title
{
	width: 300px;

	a { color: @yellow; }
}

#hints_container
{
	margin: 20px auto;
	width: 820px;

	#show_hint
	{
		display: inline-block;
		width: 260px;

		p
		{
			background-color: @yellow;
			display: inline-block;
			text-align: center;
			visibility: hidden;
			width: 150px;
		}

		button
		{
			background-color: @yellow;
			padding: 0px 7px;
		}
	}

	#character_container
	{
		background-color: @yellow;
		display: inline-block;
		width: 530px;

		.chars
		{
			display: inline-block;
			text-align: center;
			width: 20px;
		}
	}
}

#show_cypher_container
{
	background-color: @yellow;
	font-weight: bold;
	margin: 10px auto;
	padding: 10px;
	width: 670px;
	
	form
	{
		label { font-size: 12px; }

		.letter, .space
		{
			display: inline-block;
			margin-right: 5px;
			text-align: center;
			vertical-align: top;
			width: 20px;

			input { width: 15px; }
		}

		#options
		{
			margin-top: 10px;

			#auto_move_label { width: 160px; }
		}
	}
}