body
{
	background-color: #363636;
	margin: 0px auto;
	padding: 0px;
	/*width: 1000px;*/
}

nav
{
	background-color: gray;
	font-family: Calibri;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	width: 100%;
}

nav a
{
	color: white;
	margin: 0px 10px;
}

a
{
	text-decoration: none;
}

#main_link
{
	height: 50px;
	vertical-align: middle;
	width: 50px;
}

#title
{
	border-bottom: 5px groove blue;
	border-radius: 15px;
	margin: 10px auto;
	text-align: center;
	width: 600px;
}

#main_welcome_text
{
	margin: 20px auto;
	text-align: center;
	width: 400px;
}

.silver_box
{
	border: 5px ridge silver;
	border-radius: 15px;
	box-shadow: 5px 5px silver;
}