body
{
	margin: 0px auto;
	padding: 0px;
	width: 1000px;
}

#header ul
{
	list-style-type: none;
}

#header ul li
{
	display: inline-block;
	margin-right: 10px;
}

#header ul li a
{
	text-decoration: none;
}

#main_link
{
	height: 50px;
	vertical-align: middle;
	width: 50px;
}

#title
{
	border-bottom: 5px groove blue;
	border-radius: 15px;
	margin: 10px auto;
	text-align: center;
	width: 600px;
}

#main_welcome_text
{
	margin: 20px auto;
	text-align: center;
	width: 400px;
}