@green: #bed730;

#header
{
	background-color: black;
	font-weight: bold;

	div:nth-of-type(2)
	{
		color: white;
		text-align: center;
	}
}

.row
{
	margin-bottom: 20px;

	.special_details { color: red; }
}

.row:nth-of-type(2)
{
	div:first-of-type
	{
		background-color: gray;
		color: white;
	}
}
/* Map, Instructions, Items */
.mii_menu
{
	color: @green;
	padding: 5px;
	text-align: center;

	div
	{
		border: 1px solid #bed730;
	}

	div.selected_option
	{
		background-color: #bed730;
		color: white;
	}
}

.pickup_restaurant_details
{
	div:first-of-type
	{
		font-weight: bold;
	}

	div:last-of-type
	{
		background-color: gray;
		border-radius: 5px;
		padding: 5px;
		text-align: center;
	}
}

/* Items */
.items
{
	border-bottom: 2px solid black;
}


.footer
{
	background-color: @green;
	color: white;
	font-weight: bold;
	/*padding: 5px;*/
	text-align: center;

	a { color: white; }
	a:hover { text-decoration: none;}

	div
	{
		padding: 0px;

		button
		{
			border: none;
			height: 100%;
			width: 100%;
		}
	}
}