h4
{
	text-align: center;
}

form
{
	border: 5px solid green;
	border-radius: 15px;
	margin: 0px auto;
	padding: 15px;
	width: 500px;
}

label
{
	display: inline-block;
	margin-bottom: 10px;
	vertical-align: top;
	width: 200px;
}

.author
{
	margin-left: 50px;
}

input:last-of-type
{
	margin: 30px 0px 0px 90px;
}