#recent_reviews, #other_reviews
{
	display: inline-block;
	vertical-align: top;
}

#recent_reviews
{
	width: 500px;
}

#other_reviews
{
	width: 300px;
}

#other_reviews div
{
	border: 5px groove green;
	height: 200px;
	overflow: scroll;
	padding: 10px;
}